---
layout: default
---
<div id="post">
<h1>{{ page.title }}</h1>
<p class="meta">
  {{ page.date | date_to_string  }}&nbsp;
  <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="hamamatsurb">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <iframe src="http://www.facebook.com/plugins/like.php?href={{ page.url }}&amp;layout=button_count&amp;show_faces=false&amp;width=200&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe>
</p>
{{ content }}
</div>

<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>